@import "../_styles/index.scss";

@mixin _math-common() {
    &:has(annotation[data-style="hidden"]) {
        height: 0px;
        overflow: hidden;
        padding: 0 !important;
    }
}
@mixin block-container() {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@mixin math-block() {
    mo,
    mfrac,
    mtext {
        @include padding-lr(0.1em);
    }
    display: block;
    padding-top: 1em;
    padding-bottom: 1em;
    overflow: auto;
    @include _math-common;
}

@mixin math-inline() {
    font-size: var(--font-size-math);
    padding-left: 0.05rem;
    padding-right: 0.05rem;
    @include _math-common;
}
