@import "../../_styles/index.scss";
@import "./responsive-fixes.scss";
.sticky-top-nav.sticky-top-nav {
    --header-height: 70px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5;
    font-size: 0.88rem;
    overflow: hidden;
    .page-header__logo {
        img {
            margin-top: 0;
            mask-image: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.214) 35%,
                rgba(255, 255, 255, 1) 48%,
                rgba(0, 0, 0, 0.164) 70%
            );
        }
    }
    overflow-y: hidden;
    z-index: 1;
    @include effect-shadowed-overlay;
    .title-crumbs {
        padding-top: 5px;

        &__heading {
            font-size: 1.25rem;
            padding-bottom: 1rem;
        }
    }
}

.page:has(.sticky-top-nav) {
    @each $header in 1 2 3 4 5 6 {
        h#{$header} {
            scroll-margin-top: $height-header-sticky + 10rem;
        }
    }
}

.title-crumbs {
    z-index: 10;
    position: relative;
}

.page-header {
    z-index: 10;
    position: relative;
}
