:root {
    --bg-page-header: #251c3f;
    --bg-page-body: #1c1a28;
    --bg-page-footer: #251c3f;
    --fg-text: white;
    --fg-newsletter-heading: rgb(86, 208, 141);
    --fg-newsletter-text: #a5a5a5;
    --fg-newsletter-joined: rgb(86, 208, 141);
    --fg-text-heading: white;
    --fg-stats-line: #a5a5a5;
    --fg-series-tagline: #7e7979;
    --fg-home-tagline: #71819c;
    --fg-discord: #7289da;
    --fg-readable: white;
    --bg-post-preview: #1a1b2d;
    --fg-crumb-home-link: #ffb9f6;
    --fg-link: #988fff;
    --fg-toc-link: grey;
    --fg-page-error: #ff00dd;
    --fg-menu-button: rgb(180, 180, 180);
}
